:root {
    --primaryColor: #f97eb9;
    --secondColor: #ffbceb;
    --accent1Color: #14000e;
    --backGroundColor: #fff4d1;

    --headingFont: "Source Sons 3", sans-serif;
    --paragraphFont: "Montserrat", sans-serif;
}

main {
    text-align: center;
    background-color: var(--accent1Color);
    color: #14000e;
}